src/main/java/com/gycsi/client/SMSWebServiceAdapter.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://172.20.1.14:88/mas1/services/SMSWebServiceAdapter" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://172.20.1.14:88/mas1/services/SMSWebServiceAdapter" xmlns:intf="http://172.20.1.14:88/mas1/services/SMSWebServiceAdapter" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="urn:BeanService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="http://172.20.1.14:88/mas1/services/SMSWebServiceAdapter" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="urn:BeanService"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_xsd_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns1_SMSMsg">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:SMSMsg[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns1_SMSDeliveryStatus">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:SMSDeliveryStatus[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="urn:BeanService" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://172.20.1.14:88/mas1/services/SMSWebServiceAdapter"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="SMSReq">
    <sequence>
     <element name="apCode" nillable="true" type="xsd:string"/>
     <element name="apPassword" nillable="true" type="xsd:string"/>
     <element name="appId" nillable="true" type="xsd:string"/>
     <element name="appSeq" nillable="true" type="xsd:string"/>
     <element name="atTime" nillable="true" type="xsd:string"/>
     <element name="deliver" nillable="true" type="xsd:string"/>
     <element name="destNumber" nillable="true" type="xsd:string"/>
     <element name="inspect" nillable="true" type="xsd:string"/>
     <element name="linkID" nillable="true" type="xsd:string"/>
     <element name="msgContent" nillable="true" type="xsd:string"/>
     <element name="para_1" nillable="true" type="xsd:string"/>
     <element name="para_2" nillable="true" type="xsd:string"/>
     <element name="para_3" nillable="true" type="xsd:string"/>
     <element name="para_4" nillable="true" type="xsd:string"/>
     <element name="para_5" nillable="true" type="xsd:string"/>
     <element name="reqFlag" nillable="true" type="xsd:string"/>
     <element name="serviceId" nillable="true" type="xsd:string"/>
     <element name="sndUID" nillable="true" type="xsd:string"/>
     <element name="svr_flag" nillable="true" type="xsd:string"/>
     <element name="timeFlag" nillable="true" type="xsd:string"/>
     <element name="title" nillable="true" type="xsd:string"/>
     <element name="userFlag" nillable="true" type="xsd:string"/>
     <element name="wappush" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="SMSRes">
    <sequence>
     <element name="rtnCode" nillable="true" type="xsd:string"/>
     <element name="rtnInfo" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="SMSMsg">
    <sequence>
     <element name="destNumber" nillable="true" type="xsd:string"/>
     <element name="msgContent" nillable="true" type="xsd:string"/>
     <element name="msgFormat" nillable="true" type="xsd:string"/>
     <element name="senderAddress" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="SMSDeliveryStatus">
    <sequence>
     <element name="address" nillable="true" type="xsd:string"/>
     <element name="deliveryStatus" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="SMSParam">
    <sequence>
     <element name="SMS_QUNFA_APPID" nillable="true" type="xsd:string"/>
     <element name="SMS_QUNFA_EXTCODE" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getSMSParamResponse">

      <wsdl:part name="getSMSParamReturn" type="tns1:SMSParam"/>

   </wsdl:message>

   <wsdl:message name="mainRequest">

      <wsdl:part name="args" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="getReceivedSmsRequest">

      <wsdl:part name="applicationID" type="xsd:string"/>

      <wsdl:part name="appPwd" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="sendSMSResponse">

      <wsdl:part name="sendSMSReturn" type="tns1:SMSRes"/>

   </wsdl:message>

   <wsdl:message name="sendSMSRequest">

      <wsdl:part name="req" type="tns1:SMSReq"/>

   </wsdl:message>

   <wsdl:message name="getSMSParamRequest">

      <wsdl:part name="SMSPWD" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getSmsDeliveryStatusRequest">

      <wsdl:part name="msg_id" type="xsd:string"/>

      <wsdl:part name="appPwd" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getSmsDeliveryStatusResponse">

      <wsdl:part name="getSmsDeliveryStatusReturn" type="impl:ArrayOf_tns1_SMSDeliveryStatus"/>

   </wsdl:message>

   <wsdl:message name="getReceivedSmsResponse">

      <wsdl:part name="getReceivedSmsReturn" type="impl:ArrayOf_tns1_SMSMsg"/>

   </wsdl:message>

   <wsdl:message name="mainResponse">

   </wsdl:message>

   <wsdl:portType name="SMSWebServiceAdapter">

      <wsdl:operation name="main" parameterOrder="args">

         <wsdl:input message="impl:mainRequest" name="mainRequest"/>

         <wsdl:output message="impl:mainResponse" name="mainResponse"/>

      </wsdl:operation>

      <wsdl:operation name="sendSMS" parameterOrder="req">

         <wsdl:input message="impl:sendSMSRequest" name="sendSMSRequest"/>

         <wsdl:output message="impl:sendSMSResponse" name="sendSMSResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getReceivedSms" parameterOrder="applicationID appPwd">

         <wsdl:input message="impl:getReceivedSmsRequest" name="getReceivedSmsRequest"/>

         <wsdl:output message="impl:getReceivedSmsResponse" name="getReceivedSmsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getSmsDeliveryStatus" parameterOrder="msg_id appPwd">

         <wsdl:input message="impl:getSmsDeliveryStatusRequest" name="getSmsDeliveryStatusRequest"/>

         <wsdl:output message="impl:getSmsDeliveryStatusResponse" name="getSmsDeliveryStatusResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getSMSParam" parameterOrder="SMSPWD">

         <wsdl:input message="impl:getSMSParamRequest" name="getSMSParamRequest"/>

         <wsdl:output message="impl:getSMSParamResponse" name="getSMSParamResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SMSWebServiceAdapterSoapBinding" type="impl:SMSWebServiceAdapter">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="main">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="mainRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.adapter.sms.inspur.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="mainResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://172.20.1.14:88/mas1/services/SMSWebServiceAdapter" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sendSMS">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sendSMSRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.adapter.sms.inspur.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="sendSMSResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://172.20.1.14:88/mas1/services/SMSWebServiceAdapter" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getReceivedSms">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getReceivedSmsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.adapter.sms.inspur.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getReceivedSmsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://172.20.1.14:88/mas1/services/SMSWebServiceAdapter" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSmsDeliveryStatus">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSmsDeliveryStatusRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.adapter.sms.inspur.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getSmsDeliveryStatusResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://172.20.1.14:88/mas1/services/SMSWebServiceAdapter" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSMSParam">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSMSParamRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.adapter.sms.inspur.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getSMSParamResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://172.20.1.14:88/mas1/services/SMSWebServiceAdapter" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SMSWebServiceAdapterService">

      <wsdl:port binding="impl:SMSWebServiceAdapterSoapBinding" name="SMSWebServiceAdapter">

         <wsdlsoap:address location="http://172.20.1.14:88/mas1/services/SMSWebServiceAdapter"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
